<h1>Despesas</h1>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
      <th>Recorrente?</th>
      <th>Mês Referência</th>
      <th>Ano Referência</th>
      <th>Pagante</th>
    </tr>
  </thead>

  <tbody>
    <% @despesas.each do |d| %>
      <tr>
        <td><%= d.nome %></td>
        <td>R$: <%= d.valor %></td>
        <td><%= d.recorrente? ? 'Sim' : 'Não' %></td>
        <td><%= Date::MONTHNAMES[d.mes_ref] %></td>
        <td><%= d.ano_ref %></td>
        <td><%= d.usr_pag.nil? ?  'Sem Usuário Pagante' : d.user.nome %></td>
        <td><%= link_to 'Editar', edit_despesa_path(d) %></td>
        <td><%= link_to 'Deletar', d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Despesa', new_despesa_path %><br>
<%= link_to 'Home', root_path %>
