<h1>Listing despesas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
      <th>Recorrente</th>
      <th>Mes ref</th>
      <th>Ano ref</th>
      <th>Usr pag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @despesas.each do |despesa| %>
      <tr>
        <td><%= despesa.nome %></td>
        <td><%= despesa.valor %></td>
        <td><%= despesa.recorrente %></td>
        <td><%= despesa.mes_ref %></td>
        <td><%= despesa.ano_ref %></td>
        <td><%= despesa.usr_pag %></td>
        <td><%= link_to 'Show', despesa %></td>
        <td><%= link_to 'Edit', edit_despesa_path(despesa) %></td>
        <td><%= link_to 'Destroy', despesa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Despesa', new_despesa_path %>
