<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :banco %><br>
    <%= f.text_field :banco %>
  </div>
  <div class="field">
    <%= f.label :agencia %><br>
    <%= f.text_field :agencia %>
  </div>
  <div class="field">
    <%= f.label :conta %><br>
    <%= f.text_field :conta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
