<h1>Usuários</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Banco</th>
      <th>Agencia</th>
      <th>Conta</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nome %></td>
        <td><%= user.banco %></td>
        <td><%= user.agencia %></td>
        <td><%= user.conta %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Deletar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuário', new_user_path %><br>
<%= link_to 'Home', root_path %>