<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @user.banco %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @user.agencia %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @user.conta %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
