<%= simple_form_for @despesa do |f| %>
  <% if @despesa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@despesa.errors.count, "error") %> prohibited this despesa from being saved:</h2>

      <ul>
      <% @despesa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :nome, :input_html => {:size => 30} %>
  </div>
  <div class="field">
    <%= f.input :valor %>
  </div>
  <div class="field">
    <%= f.input :recorrente, as: :boolean %>
  </div>
  <div class="field">
    <%= f.input :mes_ref %>
  </div>
  <div class="field">
    <%= f.input :ano_ref %>
  </div>
  <div class="field">
    <%= f.input :usr_pag, collection: User.all, label_method: :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>