<%= simple_form_for(@transfer) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :usr_pagante, collection: User.all, label_method: :nome, label: 'Pagante' %>
  </div>
  <div class="field">
    <%= f.input :usr_destino, collection: User.all, label_method: :nome, label: 'Destino' %>
  </div>
  <div class="field">
    <%= f.input :valor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>